
PROJECT_ID=your-gcp-project-id


REGION=your-gcp-region

GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json


REPO_NAME=your-artifact-registry-repo-name


BQ_DATASET_NAME=your_bigquery_dataset_name


FEATURE_GROUP_NAME=your_feature_group_name


MODEL_DISPLAY_NAME=xgbranker-product-recommendation

NDCG_5_THRESHOLD=0.65